@mixin flex($direction: column, $wrap: null) {
    display: flex;
    flex-direction: $direction;
    
   
    @if $wrap {
        flex-wrap: wrap;
    } @else {
        flex-wrap: nowrap;
    }
}
@mixin v-all{
    text-align: left;
            font-family: $lato;
            font-size: 16px;
            font-weight: 400;
            color: $grey;
            line-height: 18px;
            @media screen and (min-width:768px){
                text-align: right;
            }
}
@mixin picture-prop{
    display: block;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
}
@mixin interface-prop{
    grid-area: int;
    font-family: $lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: $grey;
}
@mixin date-prop{
    grid-area: date;
    text-align: right;
    font-family: $lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: $grey;
}